<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <script src="/static/js/app.js" defer></script>
</head>
<body>
    <h1>Update User</h1>
    <form id="updateUserForm">
        <label>First Name: <input type="text" id="firstName"></label><br>
        <label>Last Name: <input type="text" id="lastName"></label><br>
        <label>Surname: <input type="text" id="surname"></label><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
